<div class="container">
    <div class="page-footer__social">
        <a href="https://www.instagram.com/zansaffron/" class="page-footer__social-link" target="_blank">
            <svg width="24" height="24" aria-hidden="true" class="icon-instagram">
                <use xlink:href="#instagram"/>
            </svg>
        </a>
        <a href="https://twitter.com/Zansaffron" class="page-footer__social-link" target="_blank">
            <svg width="24" height="24" aria-hidden="true" class="icon-twitter">
                <use xlink:href="#twitter"/>
            </svg>
        </a>
    </div>
</div>

<footer class="page-footer">
    <div class="container">

        <div class="page-footer__row">
            © Zan Saffron, 2020. All rights reserved.
        </div>
    </div>
</footer>