{% set title = "Home Page" %}
{% set activePage = "Home" %}
{% extends "layout.html" %}
{% block content %}
    <section class="intro">

        <div class="container">
            <div class="intro__content">
                <div class="intro__logo">
                    <img src="img/logo.svg" alt="" class="intro__logo-image"/>
                </div>
                <div class="intro__text">
                    <p>
                    At <strong>Zan Saffron</strong> we bring you a borderless experience by travelling to the best farms across various regions to select the most exquisite Saffron. We are serious about our hands-on approach to sourcing the best
                    threads, which means you are consuming only the <strong>finest quality</strong> Persian Saffron.
                </p>
                    <p>
                        <strong>Saffron</strong> is one of the most delicate and rare spices in the world. Enjoyed for both it’s vibrant color and unmistakable aroma it can be prepared and used in several ways, most commonly by adding it to food and
                    drinks.
                </p>
                    <p>
                        <strong>Saffron</strong> is technically the red threads found within the flower. This flower grows in specific temperatures and must be treated delicately to produce high quality saffron.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="intro__flower-block">
        <div class="container">
            <div class="intro__flower-block-text-content">
                <p>
                    <strong>Saffron</strong> is commonly known as one of the most expensive spice in the world, but our vision is to bring the <strong>highest quality</strong> saffron to you.</p>

                <p>
            Should you wish to experience our imperial product, book a complimentary private tasting session and our team will come to you.
        </p>
            </div>
        </div>
    </section>

    <section class="intro__offer-block">
        <div class="container">
            <div class="intro__offer-block-content">
                <div class="intro__offer-block-quote">
                    <div class="intro__offer-block-quote-content">
                        <h2 class="intro__offer-block-quote-heading">
                        We offer complimentary private<br/>
                        tasting sessions
                    </h2>
                        <div class="intro__offer-block-quote-text">
                            <p>enjoy the art of saffron tasting while immersing in the aroma of our homemade saffron candles.<br> To book, email <a href="mailto:info@zansaffron.com">info@zansaffron.com</a> or click <a href="#">this link</a>.</p>
                        </div>
                    </div>
                </div>

                <p class="intro__offer-block-remark">
                Our saffron comes in exquisite 3g tubes, available either as singles or gift boxes of multiples. Our unique, handcrafted boxes speak to the premium nature of this product and are seen as an extension to the experience.
            </p>
            </div>
        </div>
    </section>

    <section class="intro__contacts">
        <div class="container">
            <h2 class="intro__contacts-heading">
            Contact
        </h2>
            <form action="/" method="POST" class="intro__contacts-form">
                <div class="intro__contacts-form-row">
                    <select name="book" class="js-custom-select">
                        <option></option>
                        <option value="value1">Wholesale enquiries </option>
                        <option value="value2">Retailer enquiries – want to shelf our saffron?</option>
                        <option value="value3">Just say hello</option>
                        <option value="value4">Need more</option>
                    </select>
                </div>
                <div class="intro__contacts-form-row">
                    <input type="name" name="name" class="intro__contacts-form-input" required placeholder="Your name and Surname"/>
                </div>
                <div class="intro__contacts-form-row">
                    <input type="email" name="email" class="intro__contacts-form-input" required placeholder="Your email"/>
                </div>
                <div class="intro__contacts-form-row">
                    <input type="tel" name="email" class="intro__contacts-form-input" required placeholder="Your phone"/>
                </div>
                <button class="intro__contacts-form-submit">
                Send
            </button>
            </form>
        </div>
    </section>
{% endblock %}