@font-face {
    font-family: 'Zilla Slab';
    src: url('../assets/fonts/ZillaSlab-Regular.woff2') format('woff2'), url('../assets/fonts/ZillaSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../assets/fonts/ZillaSlab-Bold.woff2') format('woff2'), url('../assets/fonts/ZillaSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
