*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --max-container-width: 1110px;
    --content-padding: 40px;
    --primary-color: #96d603;
    --zilla: 'Zilla Slab', sans-serif;

    --montserrat: 'Montserrat', sans-serif;


    @include breakpoint(small-mobile) {
        --content-padding: 15px;
    }
}

html {
    box-sizing: border-box;
    font-size: 10px;
    @include noHighlight();
}

body {
    min-width: 320px;
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--zilla);
    color: #4C5562;
    background: #FFF4F4;
}
ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type="checkbox"]):not([type="radio"]) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    outline: none;
    display: inline-block;
}

a {
    text-decoration: none;
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

img {
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.visually-hidden {
    @include visuallyHidden();
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
}


.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

::selection {
    color: white;
    background-color: var(--primary-color);
}

